name: CI

on:
  push:
    branches: [main, master]
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'
      - '.gitignore'
  pull_request:
    branches: [main, master]
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'
      - '.gitignore'

jobs:
  ci:
    uses: vindicta-platform/.github/.github/workflows/ci-python-template.yml@main
    permissions:
      contents: read
      pull-requests: write
